# SETUP YOUR ENV VARIABLES
# Please fill in the required environment variables below. These variables are used to configure the sealman platform and its components.
# | | |
# v v v

# Set BASE_DOMAIN to override all domain-sensitive URLs below.
# Note: URL vars for sealman-app and sealman-api are overridden by docker-compose-tls.yml
# using BASE_DOMAIN from .env, so changes here only affect other services.
# BASE_DOMAIN="sealman.at.my.domain.com"
BASE_DOMAIN="localhost"
ACME_EMAIL="mail@domain.com"

# SEALMAN API ENVIRONMENT VARIABLES

IOT_HUB_NAME='' # your IoT Hub name, example: iothub.azure-devices.net
SAS_TOKEN='' # your IoT Hub SAS token, example: SharedAccessSignature sr=iothub.azure-devices.net&sig=...
INTERNAL_STORAGE_ACCOUNT_NAME='' # your internal blob storage account name (without suffix ".blob.core.windows.net")
PUBLIC_STORAGE_ACCOUNT_NAME='' # your public blob storage account name (without suffix ".blob.core.windows.net")
BLOB_SAS_TOKEN_PLATFORM_CONFIG='' # your SAS token with permissions to write to blob storage for platform settings configuration
BLOB_SAS_TOKEN_MODULE_CONF='' # your SAS token with permissions to write to blob storage for module configuration


# DEFAULT ENV VARIABLES
# These variables are used as default values for the sealman platform
# | | |
# v v v

# SEALMAN APP environment variables

VITE_VERSION="1.0.0"
# VITE_API_URI="https://api.localhost" *This is set in docker-compose.yml based on BASE_DOMAIN

VITE_VPN_CONTAINER_DEVICE_TYPE="8"
VITE_EDGE_GATEWAY_WITH_VPN_CONTAINER_DEVICE_TYPE=""
# VITE_SEMS_API_URL="https://sems.localhost" *This is set in docker-compose.yml based on BASE_DOMAIN

VITE_AUTHENTICATION_PROVIDER="keycloak"
# VITE_KEYCLOAK_AUTHORITY="https://keycloak.localhost/realms/local-dev" *This is set in docker-compose.yml based on BASE_DOMAIN
VITE_KEYCLOAK_CLIENT_ID="ec-app"
# VITE_ENTRA_ID_REDIRECT_URI="https://app.localhost" *This is set in docker-compose.yml based on BASE_DOMAIN
VITE_ENTRA_ID_AUTHORITY=                                                                                
VITE_ENTRA_ID_CLIENT_ID=

VITE_API_SCOPES=

# SEALMAN API environment variables

VERSION='local-dev'
PORT=5000
SEMS_URL='http://sealman-ems'
SEMS_USER='admin123'
SEMS_PW='admin123'
SEMS_LOOKUP_INTERVAL='3600'
ALLOW_INSECURE_HTTPS=true
EDGE_AGENT_IMAGE='mcr.microsoft.com/azureiotedge-agent:1.5'
EDGE_HUB_IMAGE='mcr.microsoft.com/azureiotedge-hub:1.5'
CONTAINER_REGISTRY_ADDRESS='docker.io/eclipsesealman'
CONTAINER_REGISTRY_USERNAME='none' 
CONTAINER_REGISTRY_PASSWORD='none'
SEMS_DEVICE_URL='sems.localhost'
LAN_EDGE_TEMPLATES='sealman-template'
NAT_TEMPLATES='sealman-template'
# CORS_ALLOWED_ORIGINS="https://app.localhost" *This is set in docker-compose.yml based on BASE_DOMAIN
AUTHENTICATION_PROVIDER=keycloak
# KEYCLOAK_BASE_URL="https://keycloak.localhost" *This is set in docker-compose.yml based on BASE_DOMAIN
KEYCLOAK_REALM="local-dev"
KEYCLOAK_CLIENT_ID="ec-api"
POSTGRES_URL=postgresql+psycopg://postgres:postgres@postgres:5432/postgres

# SEALMAN API  Bootstrap Environment Variables
BOOTSTRAP_ENABLED=true
BOOTSTRAP_SEMS_CONFIG_NAME='sealman-config'
BOOTSTRAP_SEMS_TEMPLATE_NAME='sealman-template'
BOOTSTRAP_SEMS_DEVICE_TYPE='Edge gateway'
BOOTSTRAP_SEMS_HEALTH_TIMEOUT='120'
BOOTSTRAP_IOTHUB_DEPLOYMENT_NAME='seal-base-deployment'
BOOTSTRAP_IOTHUB_TARGET_CONDITION="tags.deployment='base'"
BOOTSTRAP_IOTHUB_PRIORITY='99'


# SEALMAN EMS environment variables

# Application name that prefixes container, network and volume names to have a human friendly name
APPLICATION_NAME="sealman-ems"
# The permissible values for TIMEZONE are system dependent. Consult your operating system documentation to see what values are acceptable.
# This value is used as a default value for following variables:
# - MYSQL_TIMEZONE (MySQL container TZ variable)
# - APPLICATION_TIMEZONE (Application container TZ variable)
# - APPLICATION_PHP_TIMEZONE (Application container php.ini date.timezone configuration)
# You can adjust mentioned variables to differentiate timezones
TIMEZONE=Europe/Berlin
APPLICATION_PORT_MAPPING_80=8080
APPLICATION_PORT_MAPPING_443=4443
APPLICATION_PORT_MAPPING_18443=18443
APPLICATION_VERSION=1.0.0
APPLICATION_REGISTRY_IMAGE=eclipsesealman/sealman-ems
APPLICATION_SESSION_TIMEOUT=900
APPLICATION_FEATURE_SCEP_ENABLED=true
APPLICATION_FEATURE_VPN_ENABLED=true
APPLICATION_UPPERCASE_FIRMWARE_VERSIONS=""
# Application can be configured to handle SSL certificates in 3 ways:
# 1. Use certbot to obtain and renew SSL certificates
# 2. Provide application with your own SSL certificates
# 3. Use predefined SSL certificates
#
# 1. To use certbot please fill following variables:
# APPLICATION_SSL_CERTIFICATE_CERTBOT_DOMAINS - Comma-separated list of domains to obtain a certificate for
# APPLICATION_SSL_CERTIFICATE_CERTBOT_EMAIL - Email address for important account notifications
# APPLICATION_SSL_CERTIFICATE_FILE_CHAIN - Should be empty ("")
# APPLICATION_SSL_CERTIFICATE_FILE_KEY - Should be empty ("")
#
# 2. To provide your own SSL certificates please fill:
# APPLICATION_SSL_CERTIFICATE_CERTBOT_DOMAINS - Should be empty ("")
# APPLICATION_SSL_CERTIFICATE_CERTBOT_EMAIL - Should be empty ("")
# APPLICATION_SSL_CERTIFICATE_FILE_CHAIN - Location of file in "sealman-ems-volume-filestorage" that contains certificate in the PEM format
# APPLICATION_SSL_CERTIFICATE_FILE_KEY - Location of file in "sealman-ems-volume-filestorage" that contains secret key in the PEM format
#
# 3. To use predefined SSL certificates please fill:
# APPLICATION_SSL_CERTIFICATE_CERTBOT_DOMAINS - Should be empty ("")
# APPLICATION_SSL_CERTIFICATE_CERTBOT_EMAIL - Should be empty ("")
# APPLICATION_SSL_CERTIFICATE_FILE_CHAIN - Should be empty ("")
# APPLICATION_SSL_CERTIFICATE_FILE_KEY - Should be empty ("")
#
# When APPLICATION_SSL_CERTIFICATE_* variables will be filled incorrectly (i.e. all 4 variables will be filled) application will fallback to predefined SSL certificates.
APPLICATION_SSL_CERTIFICATE_CERTBOT_DOMAINS=""
APPLICATION_SSL_CERTIFICATE_CERTBOT_EMAIL=""
APPLICATION_SSL_CERTIFICATE_FILE_CHAIN=""
APPLICATION_SSL_CERTIFICATE_FILE_KEY=""
APPLICATION_SYSLOG_ADDRESS=udp://localhost:514
APPLICATION_PHPFPM_PM_MAX_CHILDREN="15"
APPLICATION_PHP_MAX_FILE_UPLOADS="20"
APPLICATION_PHP_UPLOAD_MAX_FILESIZE="20M"
APPLICATION_PHP_MEMORY_LIMIT="256M"
APPLICATION_PHP_POST_MAX_SIZE="20M"
APPLICATION_PHP_MAX_INPUT_TIME="60"
APPLICATION_PHP_MAX_EXECUTION_TIME="60"
APPLICATION_TIMEZONE=${TIMEZONE}
# Do not enclose php.ini date.timezone in quotes. It will be done automatically
APPLICATION_PHP_TIMEZONE=${TIMEZONE}
# Disable default redirect from HTTP to HTTPS by setting this value to "true"
APPLICATION_DISABLE_HTTPS_REDIRECT="true"
# If docker container is behind proxy or load balancer it might be useful to setup trusted proxies so symfony will get host from X-FORWARDED-FOR-HOST header and ClientIp from X-FORWARDED-FOR
# by default trusted_headers are set to "forwarded,x-forwarded-for,x-forwarded-host,x-forwarded-proto,x-forwarded-port,x-forwarded-prefix"
APPLICATION_TRUSTED_HEADERS=""
# For more details see: https://symfony.com/doc/6.4/deployment/proxies.html
APPLICATION_TRUSTED_PROXIES=".*"
# Trusted hosts limits request's hostname that application will respond to
# If the incoming request's hostname doesn't match one of the regular expressions in this list, the application won't respond and the user will receive a 400 response
# e.g. if set to "\.example\.com$,\.example\.de$" only hostnames which end with example.com or example.de will be served
# For more details see: https://symfony.com/doc/6.4/reference/configuration/framework.html#trusted-hosts
# APPLICATION_TRUSTED_HOSTS="^(localhost|127\.0\.0\.1|sealman-ems|sems\..+)(:\d+)?$" *This is set in docker-compose.yml based on BASE_DOMAIN

# Using SSL connection with MySQL requires configuring MySQL server as well. APPLICATION_MYSQL_* variables are used by application (client)
# MySQL CA certificate for SSL connection - leave empty to disable, or set location of file in "sealman-ems-volume-filestorage" that contains CA certificate in the PEM format
APPLICATION_MYSQL_SSL_CA=
# Should client verify servers certificate (true or false)
APPLICATION_MYSQL_SERVER_VALIDATION=false
# MySQL client private key to authenticate MySQL user e.g. ALTER USER 'alice'@'%' REQUIRE X509;
# Leave empty to disable, or set location of file in "sealman-ems-volume-filestorage" that contains client private key in the PEM format
APPLICATION_MYSQL_SSL_KEY=
# MySQL client certificate to authenticate MySQL user e.g. ALTER USER 'alice'@'%' REQUIRE X509;
# Leave empty to disable, or set location of file in "sealman-ems-volume-filestorage" that contains client certificate in the PEM format
APPLICATION_MYSQL_SSL_CERT=
# For more information check documentation and https://mariadb.com/kb/en/securing-connections-for-client-and-server/

# HTTP Server headers for CORS
# Leave empty to disable adding specific header type to HTTP servers response
# For more details see: https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Headers/Access-Control-Allow-Credentials
APPLICATION_HEADER_ACCESS_CONTROL_ALLOW_CREDENTIALS=
APPLICATION_HEADER_ACCESS_CONTROL_ALLOW_HEADERS=
APPLICATION_HEADER_ACCESS_CONTROL_ALLOW_METHODS=
APPLICATION_HEADER_ACCESS_CONTROL_ALLOW_ORIGIN=
# For downloading files application uses 'Content-Security-Policy, Strict-Transport-Security, Content-Disposition' headers
# For uploading files application (TUS server) requires 'Upload-Key, Upload-Checksum, Upload-Length, Upload-Offset, Upload-Metadata, Tus-Version, Tus-Resumable, Tus-Extension, Location' headers
APPLICATION_HEADER_ACCESS_CONTROL_EXPOSE_HEADERS=
APPLICATION_HEADER_ACCESS_CONTROL_MAX_AGE=
APPLICATION_HEADER_CROSS_ORIGIN_EMBEDDER_POLICY=
APPLICATION_HEADER_CROSS_ORIGIN_OPENER_POLICY=
APPLICATION_HEADER_CROSS_ORIGIN_RESOURCE_POLICY=
APPLICATION_HEADER_X_CONTENT_TYPE_OPTIONS=
APPLICATION_HEADER_X_FRAME_OPTIONS=
# If no value is set, the default value will be used "max-age=63072000"
APPLICATION_HEADER_STRICT_TRANSPORT_SECURITY=
# The HTTP Content-Security-Policy response header controls resources the user agent is allowed to load
# Example values:
# 'frame-ancestors "none";'
# 'frame-ancestors "self" https://www.example.org;'
# 'img-src "none"; frame-ancestors "self" https://www.example.org;'
APPLICATION_HEADER_CONTENT_SECURITY_POLICY='frame-ancestors "none";'


MYSQL_DATABASE=application
MYSQL_USER=application
MYSQL_PASSWORD=1wXDb1hsdfdytUVVjRwt
MYSQL_SYSLOG_ADDRESS=udp://localhost:514
MYSQL_TIMEZONE=${TIMEZONE}